.container {
    max-width: 120rem;
    margin: 8rem auto;  // auto will centre the element in the page
    background-color: var(--colour-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    font-size: 1.4rem; 
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--colour-grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--colour-grey-dark-1);
    flex: 0 0 18%; // set flex properties as an item  
    
    // set properties as a flex container
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;
    //test
    height: 80rem;
    flex: 1;
}